<!DOCTYPE html>
<html lang="en" ng-app="stock_managements">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Stock Managements</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- AngularJS -->
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular-messages.js"></script>

    <!-- Application main module -->
    <script src="../js/stock_managements.js"></script>

    <!-- Controller -->
    <script src="../js/controllers/category_controller.js"></script>

    <!-- Services -->
    <script src="../js/services/categories_API_service.js"></script>

    <!-- Values -->
    <script src="../js/value/configValue.js"></script>
</head>

<body ng-controller="category_controller">

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Stock Managements</b></a>
            <!--logo end-->

        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tag"></i>
                            <span>Category</span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="category_add.html">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </a>
                            </li>
                            <li>
                                <a href="category_list.html">
                                    <i class="fa fa-th"></i>
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-barcode"></i>
                            <span>Product</span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="product_add.html">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </a>
                            </li>
                            <li>
                                <a href="product_list.html">
                                    <i class="fa fa-th"></i>
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-truck"></i>
                            <span>Stock</span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a href="stock_add.html">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </a>
                            </li>
                            <li>
                                <a href="stock_list.html">
                                    <i class="fa fa-th"></i>
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Category</h3>

                <!-- BASIC FORM ELELEMNTS -->
                <div class="row mt">
                    <div class="col-lg-5">
                        <div class="form-panel">
                            <h4 class="mb"><i class="fa fa-angle-right"></i> Add</h4>
                            <form class="form-horizontal style-form" method="get" name="category_add_form">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-3 control-label">Id</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="disabledInput" type="text" ng-model="category.id" disabled>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error' : category_add_form.name.$error.required && category_add_form.name.$dirty, 'has-warning' : category_add_form.name.$error.minlength || category_add_form.name.$error.maxlength, 'has-success' : category_add_form.name.$valid}">
                                    <label class="col-sm-3 col-sm-3 control-label">Name</label>
                                    <div class="col-sm-7" ng-messages="category_add_form.name.$error">
                                        <input type="text" class="form-control" ng-model="category.name" name="name" ng-required="true" ng-minlength="3" ng-maxlength="50">
                                        <span class="help-block" ng-message="required">Name required.</span>
                                        <span class="help-block" ng-message="minlength">Must have at least 3 caracters.</span>
                                        <span class="help-block" ng-message="maxlength">Max length exceeded.</span>
                                    </div>
                                </div> 
                                <br />
                                <button type="button" class="btn btn-theme" ng-click="reset_form()" ng-disabled="category_add_form.$invalid">Clean</button>
                                <button type="submit" class="btn btn-theme" ng-click="add_category(category)" ng-disabled="category_add_form.$invalid">OK</button>
                            </form>
                        </div>
                    </div><!-- col-lg-12-->
                </div><!-- /row -->
            </section><! --/wrapper -->
        </section><!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2014 - Alvarez.is
                <a href="form_component.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../assets/js/jquery.scrollTo.min.js"></script>
    <script src="../assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="../assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="../assets/js/jquery-ui-1.9.2.custom.min.js"></script>

    <!--custom switch-->
    <script src="../assets/js/bootstrap-switch.js"></script>

    <!--custom tagsinput-->
    <script src="../assets/js/jquery.tagsinput.js"></script>

    <!--custom checkbox & radio-->


    <script type="text/javascript" src="../assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>


</body>
</html>
