<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Stock</h3>
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> List</h4>
                    <div class="form-group margin_left">
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" ng-model="criterioDeBusca">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="row mt">
                        <div class="col-md-12">
                            <div class="content-panel">
                                <table class="table table-striped table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th class="hidden-phone"><a href="" ng-click="order_data('id')"><i class="fa fa-question-circle"></i> ID</a></th>
                                            <th><a href="" ng-click="order_data('product_id')"><i class="fa fa-bookmark"></i> Product</a></th>
                                            <th class="hidden-phone"><a href="" ng-click="order_data('quantity')"><i class=" fa fa-edit"></i> Quantity</a></th>
                                            <th><a href="" ng-click="order_data('datetime')"><i class=" fa fa-edit"></i> Datetime</a></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="stock in stocks | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                            <td class="hidden-phone">{{stock.id}}</td>
                                            <td>{{stock.product_id}}</td>
                                            <td class="hidden-phone">{{stock.quantity}}</td>
                                            <td>{{stock.datetime | date:'MM/dd/yyyy HH:mm'}}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs" href="#!/stock_edit/{{stock.id}}"><i class="fa fa-pencil"></i></a>
                                                <button class="btn btn-danger btn-xs" ng-click="delete_stock(stock.id)"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- /content-panel -->
                        </div><!-- /col-md-12 -->
                    </div><!-- /row -->

    </section><!--/wrapper -->
</section><!-- /MAIN CONTENT -->
<!--main content end-->
        